@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

/* Font faces: Montserrat (local files in /font) */
@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Base styles */
:root {
  --font-sans:
    "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
html,
body {
  width: 100dvw;
  scroll-behavior: smooth;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

section {
  width: 100dvw;
}

/* Global theme */
@theme {
  --color-primary: #6dbe45;
  --color-secondary: #4e982a;
  --color-green-1: #68c500;
  --color-orange-light: #ffbb00;
  --color-t-black: #141313;
  --color-t-black-light: #434343;
  --color-dark-green: #399645;

  /* Admin */
  --color-brand-25: #f3fdf7;
  --color-brand-50: #ecfdf3;
  --color-brand-100: #d1fae5;
  --color-brand-200: #a7f3d0;
  --color-brand-300: #6ee7b7;
  --color-brand-400: #34d399;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-brand-700: #047857;
  --color-brand-800: #065f46;
  --color-brand-900: #064e3b;
  --color-brand-950: #022c22;
}

/* ============================= */
/* Custom Utilities */
/* ============================= */
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .flex-bt {
    @apply flex justify-between items-center;
  }

  .headtext {
    @apply mt-2 mb-2 text-xl;
  }

  .subtext {
    @apply text-neutral-400 text-sm md:text-base text-pretty;
  }
  .app-container {
    @apply px-4 md:px-6 max-w-[1200px];
  }
}

/* ============================= */
/* Components */
/* ============================= */
@layer components {
  .navbar {
    @apply fixed top-0 left-0 w-full z-[100]
           transition-colors transition-shadow duration-300 ease-in-out;
  }

  .navbar.scrolled {
    @apply bg-white text-black shadow-md;
  }

  .navbar.not-scrolled {
    @apply bg-transparent;
  }
}

/* ============================= */
/* Admin */
/* ============================= */
.no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
